<html>
    <head>
        <title>Desafio GoNode 01</title>
    </head>
    <body>
        <form action="/check" method="post">
            <label name="txtnome" for="nome">Nome</label>
            <input  type="text"  name="nome" />
            <label name="txtDtNascimento" for="dtnascimento">Data Nascimento</label>
            <input  type="text"  name="dtnascimento" />
            <button type="submit"> Enviar </button>
        </form>
    </body>
</html>